{% autoescape off %}
Hello,

You just requested an password reset for your account at NayaSambandha
Please click on the link provided below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
Your username, in case you’ve forgotten: {{ user.get_username }}

Thanks for using our site!
If you are having problems with your account then please email contact@fileshare.ml and we will be happy to help you!

If it was not you then please contact us immediately!

Sincerely,
The NayaSambandha team
{% endautoescape %}