{% extends "dashboard/base.html" %}


{% block content %}

<style>b{color : #1c55ff}</style>

    <center>
    <br><br><h1>Set Backup</h1><hr>
    <h6><b>Never</b> Lose your <b>important Files</b>!<hr>Not Available Yet!<br><b>Please</b> consider <b>helping</b> us get this <b>feature</b> out for <b>everyone</b> by <b>Donating Us.</b></h6><br><br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="SMLJJF7QK3KQW" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_PT/i/scr/pixel.gif" width="1" height="1" />
    </form>

    </center>

{% endblock %}