{% extends "dashboard/base.html" %}


{% block content %}

    <center>
    <br><br><h1>Access Denied! 🔐</h1><hr>
    <h5>You don't have permission to view this file <i class="material-icons" style="color:red">lock</i></h5><hr><h5>You are logged in as : {{user}}</h5><br>

    <a href="{% url 'logout' %}"><button class="btn btn-info" type="submit">Switch Account?</button></a><br><br>

	<a href="{% url 'view' %}"><button class="btn btn-success" type="submit">View my files</button></a><br><br>

    <br><br><br><br><br><br><br><br><br><br>

    </center>

{% endblock %}