{% extends "base.html" %}
{% block content %}
<br><br>
<br>
  <section id="bc" class="mt-3">
    <div class="container">
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>
    <small class="text-muted">
        Make sure you provide the same Email that you provided while creating an Account!<br>
        Having Problems? Email to : <a href="mailto:contact@fileshare.ml">contact@fileshare.ml</a>
    </small>
</div>
</section>
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
