{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p><hr>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }} 
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
          <h6>Looking up to change your password? - <a style="color:purple" href="{% url 'password_change' %}">Change Password</a></h6>
      </form>
    </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
